@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100lvh;
}

body {
  background: #000;
  background-repeat: no-repeat;
  background-size: cover;
  /* max-width: 1020px; */
}

nav {
  z-index: 100;
  max-width: unset;
}

.hero-section {
  background: linear-gradient(
    171deg,
    rgba(0, 0, 0, 1) 15%,
    rgba(32, 178, 170, 1) 29%,

    rgba(0, 0, 0, 1) 62%
  );
}

.mx-width {
  max-width: 1020px;
}

.exp-section {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 23%,
    rgba(27, 124, 118, 1) 92%
  );
  /* height: 100lvh; */
}

.work-section {
  background: linear-gradient(
    180deg,
    rgba(27, 124, 118, 1) 15%,
    rgba(0, 0, 0, 1) 57%
  );
  /* height: 100lvh; */
}

.footer {
  background: linear-gradient(
    180deg,
    rgba(27, 124, 118, 1) 15%,
    rgba(0, 0, 0, 1) 33%
  );
}

p {
  color: #fff;
}

.float-animation {
  animation: float 5s ease-in-out infinite;
}

div button {
  @apply px-4 py-2 bg-customTeal rounded-full text-white font-semibold flex items-center hover:font-bold transition-all;
}

.nav-glass {
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.glass {
  background: #167f78;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
