---
import aws from "../../images/devOps/aws-1.svg";
import docker from "../../images/devOps/docker.svg";
import TechIcon from "./TechIcon.astro";
---

<div class="flex gap-8 flex-wrap">
  <TechIcon title={"AWS"} url={aws} />
  <TechIcon title={"Docker"} url={docker} />
</div>
