---
import Backend from "./Backend.astro";
import Databases from "./Databases.astro";
import Devops from "./Devops.astro";
import Frontend from "./Frontend.astro";
import VersionControl from "./VersionControl.astro";
---

<section class="exp-section px-10 mx-auto">
  <div class="flex gap-24 justify-center">
    <div class="flex flex-col gap-4">
      <p class="vertical text-2xl uppercase font-extrabold opacity-75">
        Tech Stack
      </p>

      <div
        class="inline-block h-[150px] mx-auto min-h-[1em] w-0.5 self-stretch bg-neutral-100 dark:bg-white opacity-55"
      >
      </div>
    </div>

    <div class="flex flex-col gap-6 items-center">
      <Frontend />

      <Backend />

      <Databases />

      <VersionControl />

      <Devops />
    </div>
  </div>
</section>
