---
import bitbucket from "../../images/vCtrl/bitbucket-1.svg";
import github from "../../images/vCtrl/github-1.svg";
import git from "../../images/vCtrl/git-1.svg";
import TechIcon from "./TechIcon.astro";
---

<div
  class="flex gap-8 flex-wrap md:flex-nowrap justify-center md:justify-start"
>
  <TechIcon title={"Git"} url={git} />
  <TechIcon title={"GitHub"} url={github} />
  <TechIcon title={"Bitbucket"} url={bitbucket} />
</div>
