---
import { Image } from "astro:assets";

import github from "../images/vCtrl/github-1.svg";
import linkedin from "../images/linkedin-1.svg";
import outlook from "../images/outlook.svg";
const year = new Date();
const curr_year = year.getFullYear();
---

<footer class="footer flex flex-col gap-4 pb-4 justify-center" id="footer">
  <!-- page information -->
  <div class="flex justify-center">
    <p class="mt-10 font-semibold opacity-70 text-center md:text-left">
      Developed with <span>Astro</span>, styled using <span>Tailwind</span> and deployed
      on <span>Vercel</span>
    </p>
  </div>
  <!-- contact information -->
  <div
    class="flex md:justify-around gap-2 md:gap-0 opacity-80 font-semibold flex-wrap md:flex-nowrap flex-col md:flex-row items-center md:items-start"
  >
    <p>Maninderjit Johar | Full Stack Developer</p>
    <div class="flex gap-4 opacity-80 font-semibold">
      <a
        href="mailto:maninderjit.johar@outlook.com"
        class="text-white"
        target="_blank"><Image src={outlook} width={30} alt="Email" /></a
      >
      <a
        href="https://github.com/maninderjit-johar"
        class="text-white hover:text-customTeal"
        target="_blank"><Image src={github} width={30} alt="Github" /></a
      >
      <a
        href="https://www.linkedin.com/in/manijohar/"
        class="text-white hover:text-customTeal"
        target="_blank"><Image src={linkedin} width={30} alt="LinkedIn" /></a
      >
    </div>
  </div>
</footer>
