---
import { Image } from "astro:assets";
import Logo from "../../images/AerialyticLogo.svg";
---

<div class="flex flex-col md:flex-row gap-8 items-center justify-center">
  <!-- Image -->
  <div class="flex flex-col md:flex-row gap-4 items-center">
    <a
      class="py-2 px-4 rounded-lg md:rounded-full bg-white"
      href="https://aerialytic.ai/"
      target="_blank"
    >
      <Image src={Logo} alt="Aerialytic" width={100} />
      <!--  <p class="text-white font-semibold text-md">MarketBox</p> -->
    </a>
    <!-- content -->
    <div class="flex flex-col gap-4 w-full flex-end">
      <!-- Role and Duration -->
      <div class="flex justify-between">
        <span
          class="text-white font-semibold text-md uppercase leading-6 opacity-90"
        >
          Frontend Developer
        </span>
        <span
          class="text-white hidden md:inline font-semibold text-md uppercase leading-6 opacity-80"
        >
          December 2018 - November 2021
        </span>
        <span
          class="text-white md:hidden inline font-semibold text-md uppercase leading-6 opacity-90"
        >
          Dec 2018 - Nov 2021
        </span>
      </div>
      <!-- Duties -->
      <div>
        <ul class="text-white">
          <li>
            Enhanced feature rollout speed by 20% and significantly improved AI
            model accuracy to 97% for object detection, streamlining development
            and boosting application reliability.
          </li>
          <li class="mt-2">
            Collaborated effectively across teams to improve data visualization
            for solar energy projects, ensuring the applications are scalable
            and maintain consistent performance across various devices.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
