---
import { Image } from "astro:assets";
import MBlogo from "../../images/MBLogo.svg";
---

<div class="flex gap-8">
  <!-- Image -->
  <div>
    <Image src={MBlogo} alt="MarketBox" width={100} />
  </div>
  <!-- content -->
  <div>
    <!-- Role and Duration -->
    <div class="flex justify-between"></div>
    <!-- Duties -->
    <div></div>
  </div>
</div>
