---
import { Image } from "astro:assets";
import MBlogo from "../../images/MBLogo_1.svg";
---

<div class="flex flex-col md:flex-row gap-8 items-center justify-center">
  <!-- Image -->
  <div class="flex flex-col md:flex-row gap-4 items-center">
    <a
      class="py-2 px-4 rounded-lg md:rounded-full bg-white"
      href="https://www.gomarketbox.com/"
      target="_blank"
    >
      <Image src={MBlogo} alt="MarketBox" width={100} />
      <!--  <p class="text-white font-semibold text-md">MarketBox</p> -->
    </a>
    <!-- content -->
    <div class="flex flex-col gap-4 w-full flex-end">
      <!-- Role and Duration -->
      <div class="flex justify-between">
        <span
          class="text-white font-semibold text-md uppercase leading-6 opacity-90"
        >
          Full Stack Developer
        </span>
        <span
          class="text-white hidden md:inline font-semibold text-md uppercase leading-6 opacity-90"
        >
          November 2021 - January 2024
        </span>

        <span
          class="text-white md:hidden inline font-semibold text-md uppercase leading-6 opacity-90"
        >
          Nov 2021 - Jan 2024
        </span>
      </div>
      <!-- Duties -->
      <div>
        <ul class="text-white">
          <li>
            Significantly improved user experience and operational efficiency by
            redesigning the booking flow and consolidating scheduling
            interfaces, leading to a 30% increase in customer satisfaction, a
            25% reduction in scheduling errors, and a 23% sales boost within two
            months.
          </li>
          <li class="mt-2">
            Enhanced team productivity by 15% through effective mentorship of
            junior developers in clean code practices, contributing to
            streamlined development processes.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
